/* * {
  box-sizing: border-box;
} */

body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.reviewcarousel-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewcarousel {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reviewcarousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 300px;
  height: 200px;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #fff;
}

.nav-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 999px;
}

.nav-btn:hover {
  background-color: #bc891a;
}
