body{
  background-color: #050526;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0;
}
.header{
  z-index: 100;
  position: fixed;
  /* backdrop-filter: blur(600px); */
  background-color: #050526;
  width: 100%;
  box-shadow: 0px 0px 5px orangered;
  height: 60px;
  /* margin: auto; */
  align-content: center;
}
.logo{
  display: inline-flex;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: auto;
  justify-self: flex-start;
  font-size: 30px;
  margin-left: 150px;
}
.logo1{
  color: orangered;
}
.navbar{
  margin: auto;
  display:inline-flex;
  flex-direction: row;
  color: gray;
  font-size: 20px;
  align-items: center;
  float: right;
  margin-right: 100px;
}
.navbar ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.navbar ul li a{
  text-decoration: none;
  
  color:orangered;
  transition: 0.4s;
}
.navbar ul li a:hover{
  color: rgb(255, 255, 255);
}
.hamburgerMenu{
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-right: 200px;
  display: none;
  background-color: #050526;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px orangered;
}
.hamburgerMenu .bar{
  background-color: orangered;
  width: 31px;
  height: 3px;
  margin: 4px;
}
.hero{
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  flex-direction: row;
}
.hero p{
  margin-top: 0px;
  margin-bottom: 10px;
}
.hero1{
  /* display: flex; */
  width: 50%;
}
.greet{
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.name{
  color: orangered;
  font-size: 40px;
  font-weight: bold;
}
.name1{
  color: white;
}
.intro{
  font-size: 20px;
  color: gray;
}
.contactBtn{
  border-radius: 8px;
  border-style: solid;
  background-color: orangered;
  color:#050526;
  font-size: 15px;
  padding: 13px;
  border-color: orangered;
  cursor: pointer;
}
.contactBtn:hover{
  box-shadow: 0px 0px 10px orangered;
}
.downloadBtn{
  border-radius: 8px;
  border-style: solid;
  border-color: orangered;
  background-color: #050526;
  color:orangered;
  font-size: 15px;
  padding: 13px;
  cursor: pointer;
  filter: blur(2px);
}
.downloadBtn:hover{
  box-shadow: 0px 0px 10px orangered;
}
.hero2{
  display: flex;
  width: 50%;
}
.pic{
  border-style: solid;
  border-color:#ff4500;
  border-radius: 999px;
  /* height: 300px;
  width: 300px; */
  box-shadow: rgb(215, 70, 17) 0px 0px 70px inset;
  justify-content: center;
  align-items: center;
  display: flex;
  /* overflow: hidden; */
  /* justify-self: right; */
  margin: auto;
  transition: 0.5s;
}
.pic:hover{
  box-shadow: rgb(215, 70, 17) 0px 0px 40px inset ;
}
.me{
  height: 300px;
  width: 300px;
  border-radius: 999px;
  background-image: url(images/4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
  margin: auto;
}
.aboutHead{
  font-size: 40px;
  color: orangered;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
  padding-top: 100px;
}
.aboutIntro{
  margin: auto;
  color:rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  width: 80%;
}
.stats{
  margin: auto;
  display: flex;
  width: 85%;
  justify-content: space-evenly;
}

.stat1{
  background-color: #03031d;
  border-radius: 12px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  
}


.stat1txt{
  text-align: center;
  color: orangered;
  margin-bottom: 5px;
}
.stat1tx{
  text-align: center;
  color: gray;
  margin-top: 5px;
  font-size: 20px;
}




.cleints{
  color: white;
  text-align: center;
  color: orangered;
  font-weight: bold;
}

  .reviewcarousel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.reviewcarousel {
  width: 700px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.reviewcarousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.review1{
  font-size: 15px;
  padding: 15px;
}
.carousel-item {
  min-width: 700px;
  height: 300px;
  background: linear-gradient(45deg,#050526,#6e1d00,#050526);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 2px solid #fff; */
  display: flex;
  flex-direction: column;
}

.nav-btn {
  background-color: orangered;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 999px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #d3370c;
}
.customer{
  align-items: center;
  display: flex;
}
.customer img{
  height: 40px;
  margin-top: -8px; 
  border-radius: 999px; 
  border-color: white; 
  border-style: solid;
  border-width: 1px;
}
.headertxt{
  font-size: 15px; 
  color: orangered;
  margin: 0px;
}




.projects{
  display: block;
  padding-top: 100px;
}
.myProjects{
  color: orangered;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
.projectsIntro{
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.projectDiv{
  display: flex;
  justify-content: center;
}
.projectOne{
  background-color: #03031d;
  border: solid gray 1px;
  border-radius: 12px;
  display: flex;
  margin: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  /* transition: 0.3s; */
  width: 28%;
}
.projectOne{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.projectOne.show{
  opacity: 1;
  transform: translateY(0);
}
.projectOne:hover{
 box-shadow: 0px 1px 3px gray;
}
.projectHead{
  color:orangered;
  font-size: 30px;
  font-weight: bold;
  margin: 2px;
}
.projectDes{
  color: gray;
  font-size: 15px;

}
.projectImage{
  height: 200px;
  filter: blur(1px);
  border-radius: 5px;
}
.projectImage:hover{
  filter: blur(0px);
  transition: 0.5s;
}
.linkBtn{
  color: #050526;
  border-style: solid;
  background-color: orangered;
  border-radius: 8px;
  padding: 4px;
  border-color: none;
  cursor: pointer;
}
.linkBtn:hover{
  box-shadow:0px 0px 5px orangered;
}
.linkBtn:active{
  transform: scale(0.95);
}
.contact{
  display: flex;
  padding-top: 100px;
}
.contactHead{
  color:orangered;
  font-size: 40px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
.contactDes{
  color: white;
  font-size: 20px;
  text-align: center;
  font-size: 20px;
}
.contactContent{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forms{
  width: 50%;
  margin: auto;
}
.formHeadings{
  color: orangered;
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -10px;
}
.formInputs{
  border-radius: 5px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  align-content: center;
  width: 100%;

}
.formInputs:focus{
  outline: none;
  border: orangered  1px solid;
  box-shadow: 0px 0px 10px orangered;
}
.sendBtn{
  background-color: orangered;
  border-radius: 8px;
  border-style: solid;
  font-size: 15px;
  padding: 5px;
}
.sendBtn:hover{
  box-shadow: orangered 0px 0px 10px;
}
.links{
  margin: auto;
  justify-content: center;
}
.links img{
  height: 40px;
}
.footer{
  /* background-color: black; */
  background-color: #050526;
  height: 50px;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-top-color: orangered;
}
.footertxt{
  color: white;
  margin: auto;
  font-size: 15px;
  text-align: center;
}
.status{
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  background-color: #ff4500;
  border-radius: 7px;
  font-size: 15px;
  padding: 3px;
}

































@media( max-width:760px) {
body{
  background-color: #050526;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0;
}
.header{
  z-index: 100;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* backdrop-filter: blur(100px); */
  width: 100%;
  box-shadow: 0px 0px 5px #ff4500;
  height: 60px;
  margin: auto;
  margin-top: -5px;
  /* border-bottom-left-radius: 8px; */
  /* border-bottom-right-radius: 8px; */
}
.logo{
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: auto;
  justify-content: flex-start;
}
.navbar{
  margin: auto;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  color: gray;
  font-size: 20px;
  align-items: center;
  /* position: relative;
  left: 100px; */
  justify-self: flex-end;
}
.navbar ul{
  margin-top: 40px;
  width: 80%;
  position: absolute;
  right: 20px;
  background-color: rgb(11, 4, 40);
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 500px; */
  backdrop-filter: blur(60px);
  border-radius: 10px;
  box-shadow: 0px 0px 4px white;
}
.navbar ul li{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}
.navbar ul li a{
  text-decoration: none;
  color: orangered;
  transition: 0.4s;
  
}
.navbar ul li a:hover{
  color:orangered
}
.hamburgerMenu{
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-right: 50px;
  /* display: none; */
  background-color: #050526;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px orangered;
}
.hamburgerMenu .bar{
  background-color: orangered;
  width: 31px;
  height: 3px;
  margin: 4px;
}

.hero{
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.hero p{
  margin-top: 0px;
  margin-bottom: 10px;
}
.hero1{
  /* display: flex; */
  width: 100%;
}
.greet{
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.name{
  color: orangered;
  font-size: 40px;
  font-weight: bold;
}
.name1{
  color: white;
}
.intro{
  font-size: 20px;
  color: gray;
}
.contactBtn{
  border-radius: 8px;
  border-style: solid;
  background-color: orangered;
  color:#050526;
  font-size: 15px;
  padding: 13px;
  border-color: orangered;
  cursor: pointer;
}
.contactBtn:hover{
  box-shadow: 0px 0px 10px orangered;
}
.downloadBtn{
  border-radius: 8px;
  border-style: solid;
  border-color: orangered;
  background-color: #050526;
  color:orangered;
  font-size: 15px;
  padding: 13px;
  cursor: pointer;
}
.downloadBtn:hover{
  box-shadow: 0px 0px 10px orangered;
}
.hero2{
  margin-top: -70px;
  display: flex;
  width: 100%;
}
.pic{
  border-style: solid;
  border-color:#ff4500;
  border-radius: 999px;
  /* height: 300px;
  width: 300px; */
  box-shadow: rgb(215, 70, 17) 0px 0px 70px inset;
  justify-content: center;
  align-items: center;
  display: flex;
  /* overflow: hidden; */
  /* justify-self: right; */
  margin: auto;
  transition: 0.5s;
}
.pic:hover{
  box-shadow: rgb(215, 70, 17) 0px 0px 40px inset ;
}
.me{
  height: 240px;
  width: 240px;
  border-radius: 999px;
  background-image: url(images/4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about{
  margin: auto;
}
.aboutHead{
  font-size: 30px;
  color: orangered;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  padding-top: 110px;
}
.aboutIntro{
  margin: auto;
  color:rgb(255, 255, 255);
  font-size: 17px;
  text-align: center;
  width: 90%;
}
.stats{
  margin: auto;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.stat1{
  background-color: #03031d;
  border-radius: 12px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}
.stat1txt{
  text-align: center;
  color: orangered;
  margin-bottom: 5px;
}
.stat1tx{
  text-align: center;
  color: gray;
  margin-top: 5px;
  font-size: 15px;
}




.cleints{
  color: white;
  text-align: center;
  color: orangered;
  font-weight: bold;
  font-size: 30px;
}

  .reviewcarousel-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.reviewcarousel {
  width: 700px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: gray;
  border-style: solid;
  border-width: 1px;
}

.reviewcarousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.review1{
  font-size: 15px;
  padding: 15px;
}
.carousel-item {
  min-width: 100%;
  height: 300px;
  background: linear-gradient(45deg,#050526,#6e1d00,#050526);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 2px solid #fff; */
  display: flex;
  flex-direction: column;
}

.nav-btn {
  background-color: orangered;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 999px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #d3370c;
}
.customer{
  align-items: center;
  display: flex;
}
.customer img{
  height: 40px;
  margin-top: -8px; 
  border-radius: 999px; 
  border-color: white; 
  border-style: solid;
  border-width: 1px;
}
.headertxt{
  font-size: 15px; 
  color: orangered;
  margin: 0px;
}




.projects{
  display: block;
  padding-top: 110px;
}
.myProjects{
  color: orangered;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
.projectsIntro{
  color: rgb(255, 255, 255);
  font-size: 17px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.projectDiv{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.projectOne{
  background-color: #03031d;
  border: solid gray 1px;
  border-radius: 12px;
  display: flex;
  margin: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  width: 95%;
}
.projectOne:hover{
 box-shadow: 0px 1px 3px gray;
}
.projectHead{
  color:orangered;
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
}
.projectDes{
  color: gray;
  font-size: 15px;

}
.projectImage{
  height: 150px;
  filter: blur(1px);
  border-radius: 5px;
}
.linkBtn{
  color: #050526;
  border-style: solid;
  background-color: orangered;
  border-radius: 8px;
  padding: 4px;
  border-color: none;
  cursor: pointer;
}
.linkBtn:hover{
  box-shadow:0px 0px 5px orangered;
}
.contact{
  display: flex;
  padding-top: 70px;
}
.contactHead{
  color:orangered;
  font-size: 30px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
.contactDes{
  color: white;
  font-size: 17px;
  text-align: center;
}
.contactContent{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forms{
  width: 100%;
  margin: auto;
}
.formHeadings{
  color: orangered;
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: -10px;
}
.formInputs{
  border-radius: 5px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  align-content: center;
  width: 98%;

}
.sendBtn{
  background-color: orangered;
  border-radius: 8px;
  border-style: solid;
  font-size: 15px;
  padding: 5px;
}
.sendBtn:hover{
  box-shadow: orangered 0px 0px 10px;
}
.links{
  margin: auto;
  justify-content: center;
}
.links img{
  height: 40px;
}
.footer{
  /* background-color: black; */
  background-color: #050526;
  height: 30px;
  align-content: center;
  border-style: solid;
  border-width: 1px;
  border-top-color: orangered;
}
.footertxt{
  color: white;
  margin: auto;
  font-size: 15px;
  text-align: center;
}
}